<!DOCTYPE html>
<html>
    <head><title>404</title>
     <link rel="icon" href="js/weather.png">
        <link rel="stylesheet" href="styles.css">
        <script src="/js/app.js"></script>
        <body><div class="main">
             {{>header}}
            <p>{{error}}</p>
            </div>
        </body>
            {{>footer}}
    </head>
</html>