<!DOCTYPE html>
<html>
    <head><title>About</title>
     <link rel="icon" href="js/weather.png">
         <link rel="stylesheet" href="styles.css">
        <body><div class="main">
            {{>header}}
            <p>this site was created using mapbox and darksky api</p>
            <img class="images" src="/js/pic.jpeg">
            </div>
        </body>
          {{>footer}}
    </head>
</html>
