<!DOCTYPE html>
<html>
    <head><title>Help</title>
     <link rel="icon" href="js/weather.png">
         <link rel="stylesheet" href="styles.css">
        <body><div class="main">
                {{>header}}
                
        </div>
            
             {{>footer}}
        </body>
       
    </head>
</html>